{% extends "base.html" %}

{% block content %}
    
<div style="width: 300px; height: 500px; margin: auto" class="pt-5">
    <h3>Register</h3>
    <form method="post" action="/about/">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp"
            name="username"
            placeholder="Enter Your Name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          placeholder="Enter Your Email"
        />
      </div>
      <div class="mb-2">
        <label for="exampleInputpassword" class="form-label">Password</label>
        <input
          type="Password"
          class="form-control"
          id="exampleInputpassword"
          aria-describedby="PasswordHelp"
          name="password"
          placeholder="Enter Your Password"
        />
      </div>
      <small class="d-block">Already Have an Account / <a class="link-opacity-75-hover" href="{% url "login" %}">Log In</a></small>
      <button type="submit" class="btn btn-dark mt-2">Submit</button>
    </form>
  </div>

{% endblock content %}